.signin-wrapper{
    padding: 10px;
    display: flex;
    height: 400px;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    left: 550px;
    gap: 10px;
    max-width: 250px;
}

.signin-wrapper input{
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
}

.signin-wrapper input::placeholder{
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    color: rgb(0,0,0);
}

.signin-wrapper input:focus::placeholder{
    position: relative;
    top: 10px   ;
}



.signin-wrapper button{
    border: none;
    border: 1px solid black;
    background-color: black;
    color: rgb(255,255,255);
    font-family: 'Roboto',sans-serif;
    height: 30px;
    font-size:  20px;
}


.signin-wrapper #link{
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    color: rgb(0,0,0);
}

.signin-wrapper p{
    color: rgb(255,0,0);
    font-family: 'Roboto',sans-serif;
}



